@charset "UTF-8";
/**
 *  Animation Mixins 
 */
/**
 * border-radius
 */
/**
 *
 *  border and box Mixins 
 *
 */
/**
 *  Usage:
 *    .square-div {
 *      @include square(10px);
 *    }
 */
/**
 *  Usage:
 *    .circle-div {
 *      @include circle(50px);
 *    }
 */
/**
 *  Usage:
 *    .temp-div {
 *      @include box-shadow(1px 1px 5px red);
 *    }
 */
/**
 * thin-border
 */
/**
 *  Flexbox Mixins 
 */
/**
 * ie10 and lower version not support align-content.
 */
/**
 *  Transformation Mixins 
 */
/**
 *  Transition Mixins 
 */
/**
 * grid class: use flex.
 *    .xui-row
 *      .xui-col-0 ~ .xui-col-100
 */
/**
 * pregress class: use `right` protopety.
 *    .xui-progressing-0 ~ .xui-progressing-100
 */
.flex-demos-block .child.center, .flex-child-demos-block .child.center, .flex-allin-demos-block .child.center, .animation-demos-block .wrapper-animation-automove, .animation-demos-block .wrapper-animation-loading, .animation-demos-block .wrapper-animation-loading .loading-wrapper, .animation-demos-block .wrapper-animation-loading .loading, .transition-demos-block .wrapper-transition-transform, .transition-demos-block .wrapper-transition-width, .xui-checkbox-amination {
  display: -webkit-box;
  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers(Opera,Chrome). */
  display: -webkit-flex;
  /* 新版本语法: Chrome 21+ */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -moz-flex;
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: flex;
  /* 新版本语法: Opera 12.1, Firefox 22+ */
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center; }

/**
 * hasLayout will be trigged by zoom:1 under IE6、7 env. 
 */
body {
  background-color: rgba(158, 158, 158, 0.13);
  padding: 0;
  margin: 0;
  padding-bottom: 10rem; }

.basic-info {
  color: rgba(255, 0, 0, 0.39);
  height: 2rem;
  line-height: 2rem;
  padding: .5rem 0; }
  .basic-info .span:nth-child(even) {
    color: rgba(0, 128, 0, 0.39); }

.demos {
  text-align: center; }
  .demos .type-block {
    overflow: hidden;
    -webkit-transition: height 250ms ease-in;
    transition: height 250ms ease-in; }
    .demos .type-block > div {
      margin: 0 10px; }

.tip-line {
  display: block;
  background-color: rgba(0, 0, 0, 0.06);
  line-height: 1.5rem;
  min-height: 2rem;
  color: rgba(6, 6, 6, 0.35);
  margin: 10px 0; }
  .tip-line.large {
    background: white;
    line-height: 2rem;
    -moz-box-shadow: 0px 0px 3px 0px #525252;
    -webkit-box-shadow: 0px 0px 3px 0px #525252;
    box-shadow: 0px 0px 3px 0px #525252; }
    .tip-line.large.first {
      margin-top: 0; }

/**
 *
 * suare
 *
 */
.suare-50-px {
  width: 50px;
  height: 50px;
  background: #8BC34A; }

.circle-50-px {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: #8BC34A; }

/**
 *
 * thin-border
 *
 */
.demos-border-radius {
  text-align: left; }
  .demos-border-radius > div {
    background: #8bc34a;
    margin-bottom: 5px;
    display: inline-block;
    overflow: hidden;
    width: 50px;
    height: 50px; }
  .demos-border-radius .border-top-radius {
    -moz-border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px; }
  .demos-border-radius .border-bottom-radius {
    -moz-border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-bottom-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px; }
  .demos-border-radius .border-left-radius {
    -moz-border-bottom-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px; }
  .demos-border-radius .border-right-radius {
    -moz-border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px; }
  .demos-border-radius .border-top-right-radius {
    -moz-border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px; }
  .demos-border-radius .border-top-left-radius {
    -moz-border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px; }
  .demos-border-radius .border-bottom-right-radius {
    -moz-border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px; }
  .demos-border-radius .border-bottom-left-radius {
    -moz-border-bottom-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px; }
  .demos-border-radius .border-radius-all {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; }

/**
 *
 * thin-border
 *
 */
.demo-thin-border {
  text-align: left; }
  .demo-thin-border > div {
    width: 90px;
    height: 50px;
    background: rgba(4, 4, 4, 0.06);
    margin-top: 3px;
    display: inline-block;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden; }
  .demo-thin-border .seg-desc {
    background: transparent;
    text-align: center;
    line-height: 50px;
    color: rgba(0, 0, 0, 0.55); }
  .demo-thin-border .top-border {
    position: relative; }
    .demo-thin-border .top-border::before {
      box-sizing: border-box;
      pointer-events: none;
      content: '';
      border-radius: initial;
      height: 200%;
      width: 200%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-top: 1px solid red; }
    @media screen and (-webkit-min-device-pixel-ratio: 2) {
      .demo-thin-border .top-border::before {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0; } }
  .demo-thin-border .left-border {
    position: relative; }
    .demo-thin-border .left-border::before {
      box-sizing: border-box;
      pointer-events: none;
      content: '';
      border-radius: initial;
      height: 200%;
      width: 200%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-left: 1px solid red; }
    @media screen and (-webkit-min-device-pixel-ratio: 2) {
      .demo-thin-border .left-border::before {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0; } }
  .demo-thin-border .right-border {
    position: relative; }
    .demo-thin-border .right-border::before {
      box-sizing: border-box;
      pointer-events: none;
      content: '';
      border-radius: initial;
      height: 200%;
      width: 200%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-right: 1px solid red; }
    @media screen and (-webkit-min-device-pixel-ratio: 2) {
      .demo-thin-border .right-border::before {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0; } }
  .demo-thin-border .bottom-border {
    position: relative; }
    .demo-thin-border .bottom-border::before {
      box-sizing: border-box;
      pointer-events: none;
      content: '';
      border-radius: initial;
      height: 200%;
      width: 200%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-bottom: 1px solid red; }
    @media screen and (-webkit-min-device-pixel-ratio: 2) {
      .demo-thin-border .bottom-border::before {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0; } }
  .demo-thin-border .all-border {
    position: relative; }
    .demo-thin-border .all-border::before {
      box-sizing: border-box;
      pointer-events: none;
      content: '';
      border-radius: initial;
      height: 200%;
      width: 200%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 1px solid red; }
    @media screen and (-webkit-min-device-pixel-ratio: 2) {
      .demo-thin-border .all-border::before {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0; } }
  .demo-thin-border .after-top-border {
    position: relative; }
    .demo-thin-border .after-top-border::after {
      box-sizing: border-box;
      pointer-events: none;
      content: '';
      border-radius: initial;
      height: 200%;
      width: 200%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-top: 1px solid red; }
    @media screen and (-webkit-min-device-pixel-ratio: 2) {
      .demo-thin-border .after-top-border::after {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0; } }
  .demo-thin-border .after-left-border {
    position: relative; }
    .demo-thin-border .after-left-border::after {
      box-sizing: border-box;
      pointer-events: none;
      content: '';
      border-radius: initial;
      height: 200%;
      width: 200%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-left: 1px solid red; }
    @media screen and (-webkit-min-device-pixel-ratio: 2) {
      .demo-thin-border .after-left-border::after {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0; } }
  .demo-thin-border .after-right-border {
    position: relative; }
    .demo-thin-border .after-right-border::after {
      box-sizing: border-box;
      pointer-events: none;
      content: '';
      border-radius: initial;
      height: 200%;
      width: 200%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-right: 1px solid red; }
    @media screen and (-webkit-min-device-pixel-ratio: 2) {
      .demo-thin-border .after-right-border::after {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0; } }
  .demo-thin-border .after-bottom-border {
    position: relative; }
    .demo-thin-border .after-bottom-border::after {
      box-sizing: border-box;
      pointer-events: none;
      content: '';
      border-radius: initial;
      height: 200%;
      width: 200%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-bottom: 1px solid red; }
    @media screen and (-webkit-min-device-pixel-ratio: 2) {
      .demo-thin-border .after-bottom-border::after {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0; } }
  .demo-thin-border .after-all-border {
    position: relative; }
    .demo-thin-border .after-all-border::after {
      box-sizing: border-box;
      pointer-events: none;
      content: '';
      border-radius: initial;
      height: 200%;
      width: 200%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 1px solid red; }
    @media screen and (-webkit-min-device-pixel-ratio: 2) {
      .demo-thin-border .after-all-border::after {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0; } }

.text-force-break {
  text-align: left;
  white-space: normal;
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
  word-break: break-all;
  text-align: left; }

.single-line-ellipsis {
  /* 文本单行省略号 */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.multi-line-ellipsis-three {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  white-space: normal;
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
  word-break: break-all;
  text-align: left; }

.multi-line-ellipsis-two {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  white-space: normal;
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
  word-break: break-all;
  text-align: left; }

.placeholder-all .placeholder-input {
  width: 100%;
  height: 2rem; }
  .placeholder-all .placeholder-input::-moz-placeholder {
    color: red;
    font-size: 0.6rem;
    line-height: 2rem;
    background: #8bc34a; }
  .placeholder-all .placeholder-input:-ms-input-placeholder {
    color: red;
    font-size: 0.6rem;
    line-height: 2rem;
    background: #8bc34a; }
  .placeholder-all .placeholder-input::-webkit-input-placeholder {
    color: red;
    font-size: 0.6rem;
    line-height: 2rem;
    background: #8bc34a; }

/**
 *
 * 父元素属性
 *
 */
.flex-demos-block {
  /**
   * flex-direction 相关: row | row-reverse | column | column-reverse;
   */
  /**
   * flex-wrap 相关: nowrap | wrap | wrap-reverse
   */
  /**
   * flex-flow: <flex-direction> || <flex-wrap>
   */
  /**
   * TODO: justify-content: flex-start | flex-end | center | space-between | space-around
   */
  /**
   * TODO: align-items: flex-start | flex-end | center | baseline | stretch
   */
  /**
   * align-content: flex-start | flex-end | center | space-between | space-around | stretch
   */ }
  .flex-demos-block [class*=parent] {
    height: 3rem;
    box-sizing: content-box;
    border: 1px solid red; }
  .flex-demos-block .child {
    background-color: rgba(0, 128, 0, 0.21);
    margin: 0 2px; }
  .flex-demos-block > div.tip-line:nth-of-type(n+2) {
    margin-top: .6rem; }
  .flex-demos-block .flex-direction-demo [class*=parent]:nth-of-type(n+2) {
    margin-top: .2rem; }
  .flex-demos-block .flex-direction-demo .child {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .flex-demos-block .flex-direction-demo .parent-row {
    display: -webkit-box;
    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers(Opera,Chrome). */
    display: -webkit-flex;
    /* 新版本语法: Chrome 21+ */
    display: -moz-box;
    /* 老版本语法: Firefox (buggy) */
    display: -moz-flex;
    display: -ms-flexbox;
    /* 混合版本语法: IE 10 */
    display: flex;
    /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
  .flex-demos-block .flex-direction-demo .parent-row-reverse {
    display: -webkit-box;
    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers(Opera,Chrome). */
    display: -webkit-flex;
    /* 新版本语法: Chrome 21+ */
    display: -moz-box;
    /* 老版本语法: Firefox (buggy) */
    display: -moz-flex;
    display: -ms-flexbox;
    /* 混合版本语法: IE 10 */
    display: flex;
    /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  .flex-demos-block .flex-direction-demo .parent-column {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 30%;
    height: 10rem; }
  .flex-demos-block .flex-direction-demo .parent-column-reverse {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-direction: reverse;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    width: 30%;
    height: 10rem; }
  .flex-demos-block .flex-direction-demo .parent-column, .flex-demos-block .flex-direction-demo .parent-column-reverse {
    vertical-align: middle; }
  .flex-demos-block .flex-wrap-demo .child {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 30%;
    height: 100%; }
  .flex-demos-block .flex-wrap-demo .parent-nowrap {
    display: -webkit-box;
    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers(Opera,Chrome). */
    display: -webkit-flex;
    /* 新版本语法: Chrome 21+ */
    display: -moz-box;
    /* 老版本语法: Firefox (buggy) */
    display: -moz-flex;
    display: -ms-flexbox;
    /* 混合版本语法: IE 10 */
    display: flex;
    /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
    overflow: scroll; }
  .flex-demos-block .flex-wrap-demo .parent-wrap {
    display: -webkit-box;
    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers(Opera,Chrome). */
    display: -webkit-flex;
    /* 新版本语法: Chrome 21+ */
    display: -moz-box;
    /* 老版本语法: Firefox (buggy) */
    display: -moz-flex;
    display: -ms-flexbox;
    /* 混合版本语法: IE 10 */
    display: flex;
    /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: scroll;
    margin-top: 5px; }
  .flex-demos-block .flex-wrap-demo .parent-wrap-reverse {
    display: -webkit-box;
    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers(Opera,Chrome). */
    display: -webkit-flex;
    /* 新版本语法: Chrome 21+ */
    display: -moz-box;
    /* 老版本语法: Firefox (buggy) */
    display: -moz-flex;
    display: -ms-flexbox;
    /* 混合版本语法: IE 10 */
    display: flex;
    /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-flex-wrap: wrap-reverse;
    -moz-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    overflow: visible;
    margin-top: 4rem; }
  .flex-demos-block .flex-flow-demo .child {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 30%;
    height: 100%; }
  .flex-demos-block .flex-flow-demo .parent-rowreverse-nowrap {
    display: -webkit-box;
    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers(Opera,Chrome). */
    display: -webkit-flex;
    /* 新版本语法: Chrome 21+ */
    display: -moz-box;
    /* 老版本语法: Firefox (buggy) */
    display: -moz-flex;
    display: -ms-flexbox;
    /* 混合版本语法: IE 10 */
    display: flex;
    /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-flex-flow: row-reverse nowrap;
    -moz-flex-flow: row-reverse nowrap;
    -ms-flex-flow: row-reverse nowrap;
    flex-flow: row-reverse nowrap;
    overflow: scroll; }
  .flex-demos-block .justify-content-demo .child {
    width: 20%; }
  .flex-demos-block .justify-content-demo [class^=parent]:nth-of-type(n+2) {
    margin-top: 5px; }
  .flex-demos-block .justify-content-demo .parent-flex-start {
    display: -webkit-box;
    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers(Opera,Chrome). */
    display: -webkit-flex;
    /* 新版本语法: Chrome 21+ */
    display: -moz-box;
    /* 老版本语法: Firefox (buggy) */
    display: -moz-flex;
    display: -ms-flexbox;
    /* 混合版本语法: IE 10 */
    display: flex;
    /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start; }
  .flex-demos-block .justify-content-demo .parent-flex-end {
    display: -webkit-box;
    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers(Opera,Chrome). */
    display: -webkit-flex;
    /* 新版本语法: Chrome 21+ */
    display: -moz-box;
    /* 老版本语法: Firefox (buggy) */
    display: -moz-flex;
    display: -ms-flexbox;
    /* 混合版本语法: IE 10 */
    display: flex;
    /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end; }
  .flex-demos-block .justify-content-demo .parent-center {
    display: -webkit-box;
    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers(Opera,Chrome). */
    display: -webkit-flex;
    /* 新版本语法: Chrome 21+ */
    display: -moz-box;
    /* 老版本语法: Firefox (buggy) */
    display: -moz-flex;
    display: -ms-flexbox;
    /* 混合版本语法: IE 10 */
    display: flex;
    /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center; }
  .flex-demos-block .justify-content-demo .parent-space-between {
    display: -webkit-box;
    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers(Opera,Chrome). */
    display: -webkit-flex;
    /* 新版本语法: Chrome 21+ */
    display: -moz-box;
    /* 老版本语法: Firefox (buggy) */
    display: -moz-flex;
    display: -ms-flexbox;
    /* 混合版本语法: IE 10 */
    display: flex;
    /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; }
  .flex-demos-block .justify-content-demo .parent-space-around {
    display: -webkit-box;
    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers(Opera,Chrome). */
    display: -webkit-flex;
    /* 新版本语法: Chrome 21+ */
    display: -moz-box;
    /* 老版本语法: Firefox (buggy) */
    display: -moz-flex;
    display: -ms-flexbox;
    /* 混合版本语法: IE 10 */
    display: flex;
    /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    justify-content: space-around; }
  .flex-demos-block .align-items-demo .child {
    width: 20%; }
  .flex-demos-block .align-items-demo [class^=parent]:nth-of-type(n+2) {
    margin-top: 5px; }
  .flex-demos-block .align-items-demo .parent-flex-start {
    display: -webkit-box;
    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers(Opera,Chrome). */
    display: -webkit-flex;
    /* 新版本语法: Chrome 21+ */
    display: -moz-box;
    /* 老版本语法: Firefox (buggy) */
    display: -moz-flex;
    display: -ms-flexbox;
    /* 混合版本语法: IE 10 */
    display: flex;
    /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start; }
  .flex-demos-block .align-items-demo .parent-flex-end {
    display: -webkit-box;
    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers(Opera,Chrome). */
    display: -webkit-flex;
    /* 新版本语法: Chrome 21+ */
    display: -moz-box;
    /* 老版本语法: Firefox (buggy) */
    display: -moz-flex;
    display: -ms-flexbox;
    /* 混合版本语法: IE 10 */
    display: flex;
    /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    align-items: flex-end; }
  .flex-demos-block .align-items-demo .parent-center {
    display: -webkit-box;
    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers(Opera,Chrome). */
    display: -webkit-flex;
    /* 新版本语法: Chrome 21+ */
    display: -moz-box;
    /* 老版本语法: Firefox (buggy) */
    display: -moz-flex;
    display: -ms-flexbox;
    /* 混合版本语法: IE 10 */
    display: flex;
    /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }
  .flex-demos-block .align-items-demo .parent-baseline {
    display: -webkit-box;
    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers(Opera,Chrome). */
    display: -webkit-flex;
    /* 新版本语法: Chrome 21+ */
    display: -moz-box;
    /* 老版本语法: Firefox (buggy) */
    display: -moz-flex;
    display: -ms-flexbox;
    /* 混合版本语法: IE 10 */
    display: flex;
    /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    -webkit-align-items: baseline;
    -moz-align-items: baseline;
    align-items: baseline; }
  .flex-demos-block .align-items-demo .parent-stretch {
    display: -webkit-box;
    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers(Opera,Chrome). */
    display: -webkit-flex;
    /* 新版本语法: Chrome 21+ */
    display: -moz-box;
    /* 老版本语法: Firefox (buggy) */
    display: -moz-flex;
    display: -ms-flexbox;
    /* 混合版本语法: IE 10 */
    display: flex;
    /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    align-items: stretch; }
  .flex-demos-block .align-content-demo .child {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 40%;
    height: 1.5rem; }
  .flex-demos-block .align-content-demo [class^=parent] {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 5px;
    height: 10rem; }
  .flex-demos-block .align-content-demo .parent-flex-start {
    display: -webkit-box;
    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers(Opera,Chrome). */
    display: -webkit-flex;
    /* 新版本语法: Chrome 21+ */
    display: -moz-box;
    /* 老版本语法: Firefox (buggy) */
    display: -moz-flex;
    display: -ms-flexbox;
    /* 混合版本语法: IE 10 */
    display: flex;
    /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-align-content: flex-start;
    -moz-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start; }
  .flex-demos-block .align-content-demo .parent-flex-end {
    display: -webkit-box;
    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers(Opera,Chrome). */
    display: -webkit-flex;
    /* 新版本语法: Chrome 21+ */
    display: -moz-box;
    /* 老版本语法: Firefox (buggy) */
    display: -moz-flex;
    display: -ms-flexbox;
    /* 混合版本语法: IE 10 */
    display: flex;
    /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-align-content: flex-end;
    -moz-align-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end; }
  .flex-demos-block .align-content-demo .parent-center {
    display: -webkit-box;
    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers(Opera,Chrome). */
    display: -webkit-flex;
    /* 新版本语法: Chrome 21+ */
    display: -moz-box;
    /* 老版本语法: Firefox (buggy) */
    display: -moz-flex;
    display: -ms-flexbox;
    /* 混合版本语法: IE 10 */
    display: flex;
    /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-align-content: center;
    -moz-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center; }
  .flex-demos-block .align-content-demo .parent-space-between {
    display: -webkit-box;
    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers(Opera,Chrome). */
    display: -webkit-flex;
    /* 新版本语法: Chrome 21+ */
    display: -moz-box;
    /* 老版本语法: Firefox (buggy) */
    display: -moz-flex;
    display: -ms-flexbox;
    /* 混合版本语法: IE 10 */
    display: flex;
    /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-align-content: space-between;
    -moz-align-content: space-between;
    -ms-flex-line-pack: space-between;
    align-content: space-between; }
  .flex-demos-block .align-content-demo .parent-space-around {
    display: -webkit-box;
    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers(Opera,Chrome). */
    display: -webkit-flex;
    /* 新版本语法: Chrome 21+ */
    display: -moz-box;
    /* 老版本语法: Firefox (buggy) */
    display: -moz-flex;
    display: -ms-flexbox;
    /* 混合版本语法: IE 10 */
    display: flex;
    /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-align-content: space-around;
    -moz-align-content: space-around;
    -ms-flex-line-pack: space-around;
    align-content: space-around; }
  .flex-demos-block .align-content-demo .parent-stretch {
    display: -webkit-box;
    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers(Opera,Chrome). */
    display: -webkit-flex;
    /* 新版本语法: Chrome 21+ */
    display: -moz-box;
    /* 老版本语法: Firefox (buggy) */
    display: -moz-flex;
    display: -ms-flexbox;
    /* 混合版本语法: IE 10 */
    display: flex;
    /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-align-content: stretch;
    -moz-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch; }

/**
 *
 * 子元素属性
 *
 */
.flex-child-demos-block {
  /**
   * order: <integer> default: 0
   */
  /**
   * flex-grow: <number>;  default 0
   */
  /**
   * flex-shrink: <number>; default 1
   */
  /**
   * flex-basis: <length> | auto;  default auto 
   */
  /**
   * flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]
   */
  /**
   * align-self: auto | flex-start | flex-end | center | baseline | stretch
   */ }
  .flex-child-demos-block [class*=parent] {
    height: 3rem;
    box-sizing: content-box;
    border: 1px solid red; }
  .flex-child-demos-block .child {
    background-color: rgba(0, 128, 0, 0.21);
    margin: 0 2px; }
  .flex-child-demos-block > div.tip-line:nth-of-type(n+2) {
    margin-top: .6rem; }
  .flex-child-demos-block .parent-order {
    display: -webkit-box;
    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers(Opera,Chrome). */
    display: -webkit-flex;
    /* 新版本语法: Chrome 21+ */
    display: -moz-box;
    /* 老版本语法: Firefox (buggy) */
    display: -moz-flex;
    display: -ms-flexbox;
    /* 混合版本语法: IE 10 */
    display: flex;
    /* 新版本语法: Opera 12.1, Firefox 22+ */ }
    .flex-child-demos-block .parent-order .child {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    .flex-child-demos-block .parent-order .c1 {
      -webkit-order: 2;
      -ms-flex-order: 2;
      order: 2;
      -webkit-box-ordinal-group: 2; }
    .flex-child-demos-block .parent-order .c2 {
      -webkit-order: -1;
      -ms-flex-order: -1;
      order: -1;
      -webkit-box-ordinal-group: -1; }
    .flex-child-demos-block .parent-order .c3 {
      -webkit-order: 0;
      -ms-flex-order: 0;
      order: 0;
      -webkit-box-ordinal-group: 0; }
    .flex-child-demos-block .parent-order .c4 {
      -webkit-order: -2;
      -ms-flex-order: -2;
      order: -2;
      -webkit-box-ordinal-group: -2; }
    .flex-child-demos-block .parent-order .c5 {
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1;
      -webkit-box-ordinal-group: 1; }
  .flex-child-demos-block .parent-flex-grow {
    display: -webkit-box;
    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers(Opera,Chrome). */
    display: -webkit-flex;
    /* 新版本语法: Chrome 21+ */
    display: -moz-box;
    /* 老版本语法: Firefox (buggy) */
    display: -moz-flex;
    display: -ms-flexbox;
    /* 混合版本语法: IE 10 */
    display: flex;
    /* 新版本语法: Opera 12.1, Firefox 22+ */ }
    .flex-child-demos-block .parent-flex-grow .c1, .flex-child-demos-block .parent-flex-grow .c4 {
      -ms-flex-grow: 0;
      /* IE10 */
      -webkit-box-flex: 0;
      -moz-flex-grow: 0;
      /* Chrome,FireFox旧版本支持 */
      -webkit-flex-grow: 0;
      flex-grow: 0; }
    .flex-child-demos-block .parent-flex-grow .c2 {
      -ms-flex-grow: 1;
      /* IE10 */
      -webkit-box-flex: 1;
      -moz-flex-grow: 1;
      /* Chrome,FireFox旧版本支持 */
      -webkit-flex-grow: 1;
      flex-grow: 1; }
    .flex-child-demos-block .parent-flex-grow .c3 {
      -ms-flex-grow: 2;
      /* IE10 */
      -webkit-box-flex: 2;
      -moz-flex-grow: 2;
      /* Chrome,FireFox旧版本支持 */
      -webkit-flex-grow: 2;
      flex-grow: 2; }
  .flex-child-demos-block .parent-flex-shrink {
    display: -webkit-box;
    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers(Opera,Chrome). */
    display: -webkit-flex;
    /* 新版本语法: Chrome 21+ */
    display: -moz-box;
    /* 老版本语法: Firefox (buggy) */
    display: -moz-flex;
    display: -ms-flexbox;
    /* 混合版本语法: IE 10 */
    display: flex;
    /* 新版本语法: Opera 12.1, Firefox 22+ */ }
    .flex-child-demos-block .parent-flex-shrink .child {
      width: 30%; }
    .flex-child-demos-block .parent-flex-shrink .c1, .flex-child-demos-block .parent-flex-shrink .c4 {
      -ms-flex-shrink: 0;
      /* IE10 */
      -webkit-box-flex: 0;
      -moz-flex-shrink: 0;
      -webkit-flex-shrink: 0;
      flex-shrink: 1; }
    .flex-child-demos-block .parent-flex-shrink .c2 {
      -ms-flex-shrink: 1;
      /* IE10 */
      -webkit-box-flex: 1;
      -moz-flex-shrink: 1;
      -webkit-flex-shrink: 1;
      flex-shrink: 1; }
    .flex-child-demos-block .parent-flex-shrink .c3 {
      -ms-flex-shrink: 2;
      /* IE10 */
      -webkit-box-flex: 2;
      -moz-flex-shrink: 2;
      -webkit-flex-shrink: 2;
      flex-shrink: 1; }
  .flex-child-demos-block .flex-basis-demo {
    display: -webkit-box;
    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers(Opera,Chrome). */
    display: -webkit-flex;
    /* 新版本语法: Chrome 21+ */
    display: -moz-box;
    /* 老版本语法: Firefox (buggy) */
    display: -moz-flex;
    display: -ms-flexbox;
    /* 混合版本语法: IE 10 */
    display: flex;
    /* 新版本语法: Opera 12.1, Firefox 22+ */ }
    .flex-child-demos-block .flex-basis-demo .c1, .flex-child-demos-block .flex-basis-demo .c4 {
      -ms-flex-basis: 20rem;
      /* IE10 */
      -moz-flex-basis: 20rem;
      /* Chrome,FireFox旧版本支持 */
      -webkit-flex-basis: 20rem;
      flex-basis: 20rem; }
    .flex-child-demos-block .flex-basis-demo .c2 {
      -ms-flex-basis: auto;
      /* IE10 */
      -moz-flex-basis: auto;
      /* Chrome,FireFox旧版本支持 */
      -webkit-flex-basis: auto;
      flex-basis: auto; }
    .flex-child-demos-block .flex-basis-demo .c3 {
      -ms-flex-basis: 10rem;
      /* IE10 */
      -moz-flex-basis: 10rem;
      /* Chrome,FireFox旧版本支持 */
      -webkit-flex-basis: 10rem;
      flex-basis: 10rem; }
  .flex-child-demos-block .parent-flex {
    display: -webkit-box;
    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers(Opera,Chrome). */
    display: -webkit-flex;
    /* 新版本语法: Chrome 21+ */
    display: -moz-box;
    /* 老版本语法: Firefox (buggy) */
    display: -moz-flex;
    display: -ms-flexbox;
    /* 混合版本语法: IE 10 */
    display: flex;
    /* 新版本语法: Opera 12.1, Firefox 22+ */ }
    .flex-child-demos-block .parent-flex .c1 {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    .flex-child-demos-block .parent-flex .c2 {
      -webkit-box-flex: 1 3rem;
      -webkit-flex: 1 3rem;
      -moz-box-flex: 1 3rem;
      -moz-flex: 1 3rem;
      -ms-flex: 1 3rem;
      flex: 1 3rem; }
    .flex-child-demos-block .parent-flex .c3 {
      -webkit-box-flex: 2rem;
      -webkit-flex: 2rem;
      -moz-box-flex: 2rem;
      -moz-flex: 2rem;
      -ms-flex: 2rem;
      flex: 2rem; }
    .flex-child-demos-block .parent-flex .c4 {
      -webkit-box-flex: 2 2;
      -webkit-flex: 2 2;
      -moz-box-flex: 2 2;
      -moz-flex: 2 2;
      -ms-flex: 2 2;
      flex: 2 2; }
    .flex-child-demos-block .parent-flex .c6 {
      -webkit-box-flex: 2 2 10%;
      -webkit-flex: 2 2 10%;
      -moz-box-flex: 2 2 10%;
      -moz-flex: 2 2 10%;
      -ms-flex: 2 2 10%;
      flex: 2 2 10%; }
    .flex-child-demos-block .parent-flex .c5 {
      -webkit-box-flex: none;
      -webkit-flex: none;
      -moz-box-flex: none;
      -moz-flex: none;
      -ms-flex: none;
      flex: none; }
  .flex-child-demos-block .parent-flex-need-shrink {
    display: -webkit-box;
    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers(Opera,Chrome). */
    display: -webkit-flex;
    /* 新版本语法: Chrome 21+ */
    display: -moz-box;
    /* 老版本语法: Firefox (buggy) */
    display: -moz-flex;
    display: -ms-flexbox;
    /* 混合版本语法: IE 10 */
    display: flex;
    /* 新版本语法: Opera 12.1, Firefox 22+ */ }
    .flex-child-demos-block .parent-flex-need-shrink .child {
      width: 3rem; }
    .flex-child-demos-block .parent-flex-need-shrink .c1 {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    .flex-child-demos-block .parent-flex-need-shrink .c2 {
      -webkit-box-flex: 1 3rem;
      -webkit-flex: 1 3rem;
      -moz-box-flex: 1 3rem;
      -moz-flex: 1 3rem;
      -ms-flex: 1 3rem;
      flex: 1 3rem; }
    .flex-child-demos-block .parent-flex-need-shrink .c3 {
      -webkit-box-flex: 2rem;
      -webkit-flex: 2rem;
      -moz-box-flex: 2rem;
      -moz-flex: 2rem;
      -ms-flex: 2rem;
      flex: 2rem; }
    .flex-child-demos-block .parent-flex-need-shrink .c4 {
      -webkit-box-flex: 2 2;
      -webkit-flex: 2 2;
      -moz-box-flex: 2 2;
      -moz-flex: 2 2;
      -ms-flex: 2 2;
      flex: 2 2; }
    .flex-child-demos-block .parent-flex-need-shrink .c6 {
      -webkit-box-flex: 2 2 10%;
      -webkit-flex: 2 2 10%;
      -moz-box-flex: 2 2 10%;
      -moz-flex: 2 2 10%;
      -ms-flex: 2 2 10%;
      flex: 2 2 10%; }
    .flex-child-demos-block .parent-flex-need-shrink .c5 {
      -webkit-box-flex: none;
      -webkit-flex: none;
      -moz-box-flex: none;
      -moz-flex: none;
      -ms-flex: none;
      flex: none; }
  .flex-child-demos-block .parent-flex-need-grow {
    display: -webkit-box;
    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers(Opera,Chrome). */
    display: -webkit-flex;
    /* 新版本语法: Chrome 21+ */
    display: -moz-box;
    /* 老版本语法: Firefox (buggy) */
    display: -moz-flex;
    display: -ms-flexbox;
    /* 混合版本语法: IE 10 */
    display: flex;
    /* 新版本语法: Opera 12.1, Firefox 22+ */ }
    .flex-child-demos-block .parent-flex-need-grow .c1 {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    .flex-child-demos-block .parent-flex-need-grow .c2 {
      -webkit-box-flex: 1 3rem;
      -webkit-flex: 1 3rem;
      -moz-box-flex: 1 3rem;
      -moz-flex: 1 3rem;
      -ms-flex: 1 3rem;
      flex: 1 3rem; }
    .flex-child-demos-block .parent-flex-need-grow .c3 {
      -webkit-box-flex: 2rem;
      -webkit-flex: 2rem;
      -moz-box-flex: 2rem;
      -moz-flex: 2rem;
      -ms-flex: 2rem;
      flex: 2rem; }
    .flex-child-demos-block .parent-flex-need-grow .c4 {
      -webkit-box-flex: 2 2;
      -webkit-flex: 2 2;
      -moz-box-flex: 2 2;
      -moz-flex: 2 2;
      -ms-flex: 2 2;
      flex: 2 2; }
    .flex-child-demos-block .parent-flex-need-grow .c6 {
      -webkit-box-flex: 2 2 10%;
      -webkit-flex: 2 2 10%;
      -moz-box-flex: 2 2 10%;
      -moz-flex: 2 2 10%;
      -ms-flex: 2 2 10%;
      flex: 2 2 10%; }
    .flex-child-demos-block .parent-flex-need-grow .c5 {
      -webkit-box-flex: none;
      -webkit-flex: none;
      -moz-box-flex: none;
      -moz-flex: none;
      -ms-flex: none;
      flex: none; }
  .flex-child-demos-block .parent-align-self {
    display: -webkit-box;
    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers(Opera,Chrome). */
    display: -webkit-flex;
    /* 新版本语法: Chrome 21+ */
    display: -moz-box;
    /* 老版本语法: Firefox (buggy) */
    display: -moz-flex;
    display: -ms-flexbox;
    /* 混合版本语法: IE 10 */
    display: flex;
    /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    height: 5rem; }
    .flex-child-demos-block .parent-align-self .child {
      min-height: 3rem;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    .flex-child-demos-block .parent-align-self .c1 {
      -webkit-align-self: auto;
      -moz-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto; }
    .flex-child-demos-block .parent-align-self .c2 {
      -webkit-align-self: flex-start;
      -moz-align-self: flex-start;
      -ms-flex-item-align: start;
      align-self: flex-start; }
    .flex-child-demos-block .parent-align-self .c3 {
      -webkit-align-self: flex-end;
      -moz-align-self: flex-end;
      -ms-flex-item-align: end;
      align-self: flex-end; }
    .flex-child-demos-block .parent-align-self .c4 {
      -webkit-align-self: center;
      -moz-align-self: center;
      -ms-flex-item-align: center;
      align-self: center; }
    .flex-child-demos-block .parent-align-self .c5 {
      -webkit-align-self: baseline;
      -moz-align-self: baseline;
      -ms-flex-item-align: baseline;
      align-self: baseline; }
    .flex-child-demos-block .parent-align-self .c6 {
      -webkit-align-self: stretch;
      -moz-align-self: stretch;
      -ms-flex-item-align: stretch;
      align-self: stretch; }

/**
 *
 * Flex 综合
 *
 */
.flex-allin-demos-block [class*=parent] {
  height: 3rem;
  box-sizing: content-box;
  border: 1px solid red; }
.flex-allin-demos-block .child {
  background-color: rgba(0, 128, 0, 0.21);
  margin: 0 2px; }
.flex-allin-demos-block > div.tip-line:nth-of-type(n+2) {
  margin-top: .6rem; }
.flex-allin-demos-block .flex-parent {
  display: -webkit-box;
  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers(Opera,Chrome). */
  display: -webkit-flex;
  /* 新版本语法: Chrome 21+ */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -moz-flex;
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: flex;
  /* 新版本语法: Opera 12.1, Firefox 22+ */
  border: 1px solid red;
  height: 3rem;
  box-sizing: content-box;
  margin-bottom: 5px !important; }
  .flex-allin-demos-block .flex-parent .child {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: rgba(0, 128, 0, 0.21);
    margin: 0 2px; }
.flex-allin-demos-block .flex-parent-span {
  display: -webkit-box;
  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers(Opera,Chrome). */
  display: -webkit-flex;
  /* 新版本语法: Chrome 21+ */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -moz-flex;
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: flex;
  /* 新版本语法: Opera 12.1, Firefox 22+ */
  border: 1px solid red;
  height: 3rem;
  box-sizing: content-box; }
  .flex-allin-demos-block .flex-parent-span .child {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1; }

@keyframes automove {
  from {
    left: 0px; }
  50% {
    left: 80%; }
  to {
    left: 0px; } }
@-webkit-keyframes automove {
  /*Safari and Chrome*/
  from {
    left: 0px; }
  50% {
    left: 80%; }
  to {
    left: 0px; } }
@keyframes loading-simple {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes loading-simple {
  /*Safari and Chrome*/
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }
  70% {
    -webkit-transform: rotate(480deg);
    transform: rotate(480deg); }
  100% {
    -webkit-transform: rotate(540deg);
    transform: rotate(540deg); } }
@-webkit-keyframes loading {
  /*Safari and Chrome*/
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }
  70% {
    -webkit-transform: rotate(480deg);
    transform: rotate(480deg); }
  100% {
    -webkit-transform: rotate(540deg);
    transform: rotate(540deg); } }
@keyframes loading-inner {
  0% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg); }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  70% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes loading-inner {
  /*Safari and Chrome*/
  0% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg); }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  70% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.animation-demos-block .style-origin {
  position: absolute;
  font-size: .9rem;
  height: 1.6rem;
  line-height: 1.6rem;
  background: rgba(5, 249, 13, 0.41);
  display: inline-block;
  width: 20%;
  text-align: center;
  overflow: hidden; }
.animation-demos-block .wrapper-animation-automove {
  height: 4rem;
  border: 1px solid red;
  position: relative; }
  .animation-demos-block .wrapper-animation-automove .style-origin {
    -webkit-animation: automove 3s infinite linear;
    animation: automove 3s infinite linear; }
.animation-demos-block .wrapper-animation-loading {
  height: 4rem;
  border: 1px solid red; }
  .animation-demos-block .wrapper-animation-loading .style-origin {
    position: initial;
    -webkit-animation: loading-simple 2s infinite linear;
    animation: loading-simple 2s infinite linear; }
  .animation-demos-block .wrapper-animation-loading .loading-wrapper {
    background: #afabab;
    width: 3rem;
    height: 3rem;
    position: relative; }
  .animation-demos-block .wrapper-animation-loading .loading {
    -webkit-animation: loading 2s infinite linear;
    animation: loading 2s infinite linear;
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    position: absolute;
    clip: rect(0 3rem 3rem 1.5rem);
    clip: rect(0, 3rem, 3rem, 1.5rem); }
    .animation-demos-block .wrapper-animation-loading .loading .loading-inner {
      width: 2rem;
      height: 2rem;
      border-radius: 2rem;
      border: 2px solid white;
      clip: rect(0 1rem 2rem 0);
      /* IE6, IE7 */
      clip: rect(0, 1rem, 2rem, 0);
      position: absolute;
      box-sizing: border-box;
      -webkit-animation: loading 2s infinite linear;
      animation: loading 2s infinite linear;
      -webkit-transform: rotate(10deg);
      transform: rotate(10deg); }

.transition-demos-block .style-origin {
  font-size: .9rem;
  height: 1.6rem;
  line-height: 1.6rem;
  background: rgba(5, 249, 13, 0.41);
  display: inline-block;
  min-width: 3rem;
  width: 3rem;
  text-align: center; }
.transition-demos-block .wrapper-transition-transform {
  height: 4rem;
  border: 1px solid red; }
  .transition-demos-block .wrapper-transition-transform .style-origin {
    -webkit-transition: 500ms linear transform;
    transition: 500ms linear transform; }
  .transition-demos-block .wrapper-transition-transform.animal .style-origin {
    -webkit-transform: scale(2);
    transform: scale(2); }
.transition-demos-block .wrapper-transition-width {
  height: 4rem;
  border: 1px solid red; }
  .transition-demos-block .wrapper-transition-width .style-origin {
    -webkit-transition: 500ms linear width;
    transition: 500ms linear width; }
  .transition-demos-block .wrapper-transition-width.animal .style-origin {
    -webkit-transition: 500ms linear;
    transition: 500ms linear;
    width: 80%; }

.transform-demos-block .wrapper-transform-scale {
  text-align: left;
  height: 4rem;
  border: 1px solid red;
  display: -webkit-box;
  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers(Opera,Chrome). */
  display: -webkit-flex;
  /* 新版本语法: Chrome 21+ */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -moz-flex;
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: flex;
  /* 新版本语法: Opera 12.1, Firefox 22+ */
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }
  .transform-demos-block .wrapper-transform-scale > span {
    margin-left: .4rem; }
  .transform-demos-block .wrapper-transform-scale .style-origin {
    font-size: .9rem;
    height: 1.6rem;
    line-height: 1.6rem;
    background: rgba(5, 249, 13, 0.41);
    display: inline-block; }
    .transform-demos-block .wrapper-transform-scale .style-origin.o-top {
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0; }
    .transform-demos-block .wrapper-transform-scale .style-origin.scale-x {
      -webkit-transform: scaleX(1.5);
      transform: scaleX(1.5);
      background-color: rgba(255, 0, 0, 0.2); }
    .transform-demos-block .wrapper-transform-scale .style-origin.scale-y {
      -webkit-transform: scaleY(1.5);
      transform: scaleY(1.5); }
    .transform-demos-block .wrapper-transform-scale .style-origin.scale-xy {
      -webkit-transform: scale(1.5);
      transform: scale(1.5); }
      .transform-demos-block .wrapper-transform-scale .style-origin.scale-xy.gbco {
        background-color: rgba(255, 0, 0, 0.2); }
.transform-demos-block .wrapper-transform-rotate {
  text-align: left;
  height: 4rem;
  border: 1px solid red;
  display: -webkit-box;
  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers(Opera,Chrome). */
  display: -webkit-flex;
  /* 新版本语法: Chrome 21+ */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -moz-flex;
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: flex;
  /* 新版本语法: Opera 12.1, Firefox 22+ */
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }
  .transform-demos-block .wrapper-transform-rotate > span {
    margin-left: .4rem; }
  .transform-demos-block .wrapper-transform-rotate .style-origin {
    font-size: .9rem;
    height: 1.6rem;
    line-height: 1.6rem;
    background: rgba(5, 249, 13, 0.41);
    display: inline-block; }
    .transform-demos-block .wrapper-transform-rotate .style-origin:nth-child(2n) {
      background-color: rgba(255, 0, 0, 0.2); }
    .transform-demos-block .wrapper-transform-rotate .style-origin.o-top {
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0; }
    .transform-demos-block .wrapper-transform-rotate .style-origin.rotate {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
.transform-demos-block .wrapper-transform-translate {
  text-align: left;
  height: 4rem;
  border: 1px solid red;
  display: -webkit-box;
  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers(Opera,Chrome). */
  display: -webkit-flex;
  /* 新版本语法: Chrome 21+ */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -moz-flex;
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: flex;
  /* 新版本语法: Opera 12.1, Firefox 22+ */
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  position: relative;
  overflow-x: scroll; }
  .transform-demos-block .wrapper-transform-translate > span {
    margin-left: .4rem; }
  .transform-demos-block .wrapper-transform-translate .style-origin {
    font-size: .9rem;
    height: 1.6rem;
    line-height: 1.6rem;
    background: rgba(5, 249, 13, 0.41);
    display: inline-block;
    min-width: 3rem;
    text-align: center; }
    .transform-demos-block .wrapper-transform-translate .style-origin:nth-child(2n) {
      background-color: rgba(255, 0, 0, 0.2); }
    .transform-demos-block .wrapper-transform-translate .style-origin.translate {
      -webkit-transform: translate(0.5rem, 0.5rem);
      transform: translate(0.5rem, 0.5rem); }
    .transform-demos-block .wrapper-transform-translate .style-origin.translate-x {
      -webkit-transform: translate(0.5rem, 0);
      transform: translate(0.5rem, 0); }
    .transform-demos-block .wrapper-transform-translate .style-origin.translate-y {
      -webkit-transform: translate(0, 0.5rem);
      transform: translate(0, 0.5rem); }
  .transform-demos-block .wrapper-transform-translate .style-origin-list {
    position: absolute;
    display: none; }
    .transform-demos-block .wrapper-transform-translate .style-origin-list .style-origin {
      background: transparent;
      border: 1px solid red;
      box-sizing: content-box; }
.transform-demos-block .wrapper-transform-skew {
  text-align: left;
  height: 4rem;
  border: 1px solid red;
  display: -webkit-box;
  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers(Opera,Chrome). */
  display: -webkit-flex;
  /* 新版本语法: Chrome 21+ */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -moz-flex;
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: flex;
  /* 新版本语法: Opera 12.1, Firefox 22+ */
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  position: relative;
  overflow-x: scroll; }
  .transform-demos-block .wrapper-transform-skew > span {
    margin-left: .4rem; }
  .transform-demos-block .wrapper-transform-skew .style-origin {
    font-size: .9rem;
    height: 1.6rem;
    line-height: 1.6rem;
    background: rgba(5, 249, 13, 0.41);
    display: inline-block;
    min-width: 3rem;
    text-align: center; }
    .transform-demos-block .wrapper-transform-skew .style-origin:nth-child(2n) {
      background-color: rgba(255, 0, 0, 0.2); }
    .transform-demos-block .wrapper-transform-skew .style-origin.skew {
      -webkit-transform: skew(10deg, 45deg);
      transform: skew(10deg, 45deg);
      -webkit-backface-visibility: hidden; }
    .transform-demos-block .wrapper-transform-skew .style-origin.skew-x {
      -webkit-transform: skewX(45deg);
      transform: skewX(45deg);
      -webkit-backface-visibility: hidden; }
    .transform-demos-block .wrapper-transform-skew .style-origin.skew-y {
      -webkit-transform: skewY(45deg);
      transform: skewY(45deg);
      -webkit-backface-visibility: hidden; }

/**
 *
 *  xui-checkbox-amination
 *
 */
.xui-checkbox-amination {
  display: inline-block;
  -webkit-transition: 100ms linear background;
  transition: 100ms linear background;
  height: 50px;
  width: 50px;
  border: 1px solid red;
  border-radius: 100%;
  vertical-align: middle;
  line-height: 50px;
  position: relative; }
  .xui-checkbox-amination::after, .xui-checkbox-amination::before {
    content: '';
    width: 50%;
    height: 25%;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    display: inline-block;
    transition: 100ms linear transform;
    position: absolute; }
  .xui-checkbox-amination.active {
    border: 1px solid blue;
    background-color: blue; }
  .xui-checkbox-amination::after {
    -webkit-transform: scale(0) rotate(-45deg);
    transform: scale(0) rotate(-45deg);
    top: 25%; }
  .xui-checkbox-amination::before {
    display: none; }
  .xui-checkbox-amination.active::after {
    -webkit-transform: scale(1) rotate(-45deg);
    transform: scale(1) rotate(-45deg); }

/**
 *
 *  arrow-triangle
 *
 */
.arrow-triangle {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid transparent;
  border-right-color: blue; }
