/**
 *
 * public style class
 *  
 */
%uppercase{
  text-transform:uppercase;
  input{
    text-transform:uppercase;
  }
}
%fill-parent {
  width: 100%;
  height: 100%;
}
%fill-width {
  width: 100%; 
}
%fill-height {
  height: 100%;
}
%max-fill-parent {  
  max-height: 100%;
  max-width: 100%; 
}
%single-line-ellipsis {
  @include single-line-ellipsis;
}
%flex-center{
  @include display-flex;
  @include align-items(center);
  @include justify-content(center);
}
%flex-center-inline{
  @include display-inline-flex;
  @include align-items(center);
  @include justify-content(center);
}
%flex-left{
  @include display-flex;
  @include align-items(center);
  @include justify-content(flex-start);
}
%flex-space-between{
  @include display-flex;
  @include align-items(center);
  @include justify-content(space-between);
}
%flex-h{
  @include flex-direction(row);
}
%flex-v{
  @include flex-direction(column);
}
%input-plain{
  width: 100%;
  border: 0px;
  &:focus{
    outline: none;
  }
}

%text-force-break {
  @include text-force-break()
}

%model-fixed-full{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
%model-absolute-full{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/**
 *
 * public style class for components
 *  
 */

%vcenter {
  position: relative;
  &.vcenter-child {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
