
@mixin text-force-break {
  white-space: pre-wrap; /* css-3 */ 
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */ 
  white-space: -pre-wrap; /* Opera 4-6 */ 
  white-space: -o-pre-wrap; /* Opera 7 */ 
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  word-break: break-all;
  text-align: left;
}

@mixin single-line-ellipsis {  /* 文本单行省略号 */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin multi-line-ellipsis ($line: 1) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
  @include text-force-break;
}

@mixin placeholder {
  &::-moz-placeholder { 
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
}

// @mixin placeholder($color: $input-color-placeholder, $text-indent: 0) {
//   &::-moz-placeholder { 
//     color: $color;
//   }
//   &:-ms-input-placeholder {
//     color: $color;
//   }
//   &::-webkit-input-placeholder {
//     color: $color;
//     text-indent: $text-indent;  //Safari placeholder margin issue
//   }
// }
// @mixin placeholder-force($color: $input-color-placeholder, $text-indent: 0) {
//   &::-moz-placeholder {
//     color: $color !important;
//   }
//   &:-ms-input-placeholder {
//     color: $color !important;
//   }
//   &::-webkit-input-placeholder {
//     color: $color !important;
//     text-indent: $text-indent !important;  //Safari placeholder margin issue
//   }
// }
// $placeholder-list: '::-moz-placeholder', ':-ms-input-placeholder', '::-webkit-input-placeholder';
// Usages:
//   @each $placeholder in $placeholder-list {
//     input#{$placeholder} {
//       background: red;
//     }
//   }
