/**
 * thin-border
 */
@mixin thin-border-bottom($color, $borderRadius: initial, $beforeAfter: before){
  @include thin-border($color, 'bottom', $borderRadius, $beforeAfter);
}
@mixin thin-border-top($color, $borderRadius: initial, $beforeAfter: before){
  @include thin-border($color, 'top', $borderRadius, $beforeAfter);
}
@mixin thin-border-left($color, $borderRadius: initial, $beforeAfter: before){
  @include thin-border($color, 'left', $borderRadius, $beforeAfter);
}
@mixin thin-border-right($color, $borderRadius: initial, $beforeAfter: before){
  @include thin-border($color, 'right', $borderRadius, $beforeAfter);
}
@mixin thin-border-all($color, $borderRadius: initial, $beforeAfter: before){
  @include thin-border($color, 'all', $borderRadius, $beforeAfter);
}
@mixin thin-border($color, $position: 'all', $borderRadius: initial, $beforeAfter: before){
  position: relative;
  &::#{$beforeAfter}{
    @include box-sizing(border-box);
    pointer-events: none;
    content: '';    // sass-lint:disable-line variable-for-property
    border-radius: $borderRadius;
    height: 200%;
    width: 200%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @if $position == 'all' {
      border: 1px solid $color;
    } @else {
      border-#{$position}: 1px solid $color; 
    }
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2) {
    &::#{$beforeAfter}{
      @if $position == 'all' {
        @include scale(.5);
        @include transform-origin(0, 0);
      } @else {
        @include scale(.5);
        @include transform-origin(0, 0);
      }
    }
  }
}
